# received by pipreqs
pytorch_lightning==1.2.8
wandb==0.10.27
tqdm==4.51.0
numpy==1.20.2
Pillow==8.2.0
python-dotenv==0.17.0

# added manually
pandas==1.2.4
# sklearn needs to be replaced with other dependency
# sklearn

# still required?
wheel==0.35.1
Cython==0.29.23